# Virtual Environment
venv/
env/
.venv/
.env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# PyCharm
.idea/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# Windows
Thumbs.db

# Log files
*.log

# Package files
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
EOL